body {
    background-color: lightgrey;
}

.text-center {
    text-align: center;
    background-color: #28313d;
    color: white;
    padding: 20px;
    margin-bottom: 70px;
    margin-top: 0px;
    width: 100%;
}

.menu {
    float: left;
    background: #2f3333;
    width: 23%;
    height: 520px;
    border-radius: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 9%;
}

.search {
    margin-left: 95px;
    background-color: #2f3333;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 40px;
}

input[placeholder] {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.box1 {
    float: left;
    width: 15%;
    height: 160px;
    background-color: #2f3333;
    margin-right: 80px;
    border-radius: 20px;
}

.box2 {
    float: left;
    width: 15%;
    margin-right: 80px;
    height: 160px;
    background: #2f3333;
    border-radius: 20px;
}

.box3 {
    float: left;
    width: 15%;
    margin-right: 80px;
    height: 160px;
    background: #2f3333;
    border-radius: 20px;
}

.lastbox {
    float: left;
    width: 57%;
    margin-top: 50px;
    height: 170px;
    background: #2f3333;
    border-radius: 20px;
}

.fa {
    float: left;
}

p {
    padding: 3px 0px;
    font-family: 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}